<div class="modal fade" id="yes-no-modal" tabindex="-1" role="dialog" aria-labelledby="modal-caption">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header" id="modal-caption"></div>
            <div class="modal-body" id="modal-message"></div>
            <div class="modal-footer">
                <button type="button" id="modal-no-btn" class="btn btn-default" data-dismiss="modal"></button>
                <button type="button" id="modal-yes-btn" class="btn btn-primary"></button>
            </div>
        </div>
    </div>
</div>