<div class="modal fade" id="yes-no-modal" tabindex="-1" role="dialog" aria-labelledby="modal-caption">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header modal-caption"></div>
            <div class="modal-body">
                <div class="modal-loader text-center hidden">
                    <img src="{{ asset("img/ring-alt.gif") }}" alt="Загрузка" width="40" height="40">
                </div>
                <div class="modal-message"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default modal-no-btn" data-dismiss="modal"></button>
                <button type="button" class="btn btn-primary modal-yes-btn"></button>
            </div>
        </div>
    </div>
</div>