{% extends "base.html.twig" %}
{% form_theme edit_form "form/fields.html.twig" %}

{% block body %}
    {% include "default/navigation.html.twig" %}

    <div class="row">
        <div class="col-md-12">
            <h1>Изменение пользователя {{ user.getUserName }}</h1>
            {{ form(edit_form) }}
        </div>
    </div>
{% endblock %}