{% extends "base.html.twig" %}
{% form_theme form "form/fields.html.twig" %}

{% block body %}
    {% include "default/navigation.html.twig" %}

    <div class="row">
        <div class="col-md-3">

        </div>
    </div>
{% endblock %}